.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #d8e2dc;
  text-align: center;
  align-items: space-evenly;
}

.title {
  font-size: 36px;
  color: black;
}

.testContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #e8e8e4;
  border: 1px solid #ece4db;
}

.test {
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.testText {
  font-size: 18px;
  color: black;
  transition: 0.3s;
}

.testText:hover {
  transform: scale(1.15);
}
