html {
	background-color: #fae1dd;
	font-family: "Monserrat" !important;
}

body {
	font-family: "Monserrat" !important;
}

.navbar-menu {
	background-color: #ffe8d6 !important;
}

#patients {
	background-color: #fb8500 !important;
	/* color: #ffffff !important; */
}

#doctors {
	background-color: #ffb703 !important;
	/* color: #ffffff !important; */
}

ul {
	list-style: none;
}

#title {
	color: #fb8500 !important;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-button,
.reg-button {
	display: flex;
	margin: 10px !important;
}
