html body {
	background-color: #fae1dd !important;
	font-family: "Monserrat" !important;
	height: 100%;
	font-size: 1rem;
}

/* home navbar */

.navbar-menu {
	background-color: #ffe8d6 !important;
}

/* landing page  */

#home-title {
	margin-top: 30px;
	color: #fb8500 !important;
}

#home-content {
	margin: 20px 30px 20px 30px;
}

.carousel .carousel-inner .carousel-item .carousel-indicators {
	object-fit: cover;
	object-position: center;
	height: 30vh;
	width: 30vw;
	overflow: hidden;
}

/* #carouselExampleCaptions .carousel-item:before {
	content: "";
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
	display: block;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
} */

/* .carousel-indicators {
	position: absolute;
} */

/* .carousel-inner {
	width: 1200px;
	height: 800px;
	position: relative;
	background-position: center;
	background-size: cover;
} */

#patients {
	background-color: #fb8500 !important;
	/* color: #ffffff !important; */
}

#doctors {
	background-color: #ffb703 !important;
	/* color: #ffffff !important; */
}

ul {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-button,
.reg-button {
	display: flex;
	margin: 10px !important;
}

.sidebar-title {
	font-family: "Monserrat" !important;
	/* font-style: normal !important;
	text-transform: capitalize !important;
	font-size: 20px !important;
	text-decoration: underline !important; */
}

.sidebar-items {
	font-family: "Monserrat" !important;
	font-style: normal !important;
}

.field {
	font-family: "Monserrat" !important;
	font-weight: 400 !important;
}

.button {
	font-family: "Monserrat" !important;
	font-weight: 550 !important;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboard-container {
	display: flex !important;
	flex-direction: row !important;
}

.sidebar,
.rightside {
	display: flex !important;
	padding: 20px !important;
}

.sidebar {
	margin: 0 30px 0 0;
}

.rightside {
	align-self: center;
}

.faqs-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.accordion {
	display: flex;
	width: 400%;
	height: 400%;
	border: #fec5bb;
	background-color: #d8e2dc;
	margin: 10px;
	padding: 10px;
	font-family: "Monserrat";
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	/* align-self: center; */
}

.panel {
	display: flex;
	width: 400%;
	height: 400%;
	text-align: center;
	/* align-self: center; */
}

.notifications-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 300px;
}

.myperformance-graphs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myperformance-graphs {
  margin: 10px;
  text-align: center;
}
